# .NET
bin/
obj/
*.user
*.rsuser
*.suo
*.userprefs
*.cache
*.log
*.vs/
.vscode/

# Secrets
appsettings.*.local.json
secrets.json

# Angular/Node (future frontend)
node_modules/
dist/
.angular/
coverage/
*.db

# OS
Thumbs.db
.DS_Store
